@use '../core/tokens' as *;

.hero {
  padding-top: var(--size-300);
  padding-bottom: var(--size-300);
  
  &__body {
    flex-basis: 52rem;
  }
  
  &__body h1 {
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: -.025rem;
  }
  
  &__body p {
    color: var(--color-text-light);
  }
  
  &__image {
    margin-top: var(--size-300);
  }
}

@media (min-width: $breakpoint-2) {
  .hero {
    display: flex;
    align-items: center;
    gap: var(--size-400);
    padding-top: var(--size-700);
    padding-bottom: var(--size-700);
    
    &__body {
      --flow-space: var(--size-300);
    }
    
    &--with-image &__body {
      flex-basis: 500px;
    }

    &__body p {
      font-size: var(--size-300);
    }
    
    &__image {
      margin-top: 0;
      flex-grow: 1;
    }
  }
}