.site-header {
  flex-shrink: 0;
  width: 100%;
  padding-top: var(--size-100);
  padding-bottom: var(--size-100);
  background-color: var(--color-background-200);
  
  &__inner {
    display: flex;
    align-items: center;
  }
}