@use "../core/tokens" as *;

.site-nav {
  margin-left: auto;

  ul {
    display: flex;
    list-style: "";
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  ul li:not(:first-child) {
    margin-left: var(--size-200);
  }
  
  li a {
    text-decoration: none;
    font-family: $font-sans;
  }
}