@use '../core/tokens' as *;

.site-footer {
  flex-shrink: 0;
  margin-top: var(--size-700);

  &__inner {
    padding-top: var(--size-400);
    padding-bottom: var(--size-400);
    border-top: 1px solid var(--color-ruler);
    display: flex;
    font-family: $font-sans;
  }
}