@use "../core/tokens" as *;

.wrapper {
  width: 92vw;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--size-100);
  padding-left: var(--size-100);
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    gap: var(--size-600);
    
    &__main {
      flex-grow: 1;
      flex-shrink: 1;
    }
    
    &__sidebar {
      flex-basis: 320px;
      flex-shrink: 0;
    }
  }
}