/* Fonts */

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/dm-sans-latin-400-normal.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/dm-sans-latin-400-normal.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('/fonts/dm-sans-latin-400-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/dm-sans-latin-400-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('/fonts/dm-sans-latin-700-normal.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/dm-sans-latin-700-normal.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}