/**
 * Reset
 *
 * A lot of this is taken from Andy Bell's modern CSS reset
 * https://andy-bell.co.uk/a-more-modern-css-reset/
 */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: var(--step-0);
}

a {
    color: var(--color-link, var(--color-text));
    text-underline-offset: .25rem;
    text-decoration-thickness: .125rem;
    text-decoration-color: var(--color-primary);
}

a:hover {
    text-decoration-thickness: .25rem;
    text-decoration-color: hsl(0, 73%, 54%);
}

*:focus-visible {
    outline: 3px dashed var(--color-primary);
    outline-offset: calc(var(--space-xs) / 4);
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    line-height: 1.1;
    letter-spacing: -.05rem;
}

h1 {
    font-size: var(--step-5);
    letter-spacing: -.15rem;
}

h2 {
    font-size: var(--step-2);
}

h3 {
    font-size: var(--step-1);
}

h4 {
    font-size: var(--step-1);
}

img,
picture {
    max-width: 100%;
    display: block;
}