---
layout: "layouts/base.njk"
---
<div class="wrapper flow">

  <div class="hero">
    <div class="hero__body flow">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <div class="timing">
        <div class="timing__item">
          <div class="timing__item-label">Prep</div>
          <div class="timing__item-number">{{ prep }} min</div>
        </div>
        <div class="timing__item">
          <div class="timing__item-label">Cook</div>
          <div class="timing__item-number">{{ cook }} min</div>
        </div>
      </div>
    </div>
    <div class="hero__image">
      <img src="http://www.fillmurray.com/600/400" alt="">
    </div>
  </div>
  
  <div class="post-grid">
    <div class="sidebar">
      <h2 id="ingredients">
        Ingredients
      </h2>
      <ul role="list">
        {%- for ingredient in ingredients -%}
        <li>{{ ingredient | safe }}</li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="flow post post-stage">
      {{ content | safe }}
    </div>
  </div>
</div>