---
layout: "layouts/base.njk"
---
<h1>{{ title }}</h1>
<h2>
  Ingredients
</h2>
<ul role="list">
  {%- for ingredient in ingredients -%}
  <li>{{ ingredient | safe }}</li>
  {%- endfor -%}
</ul>
{{ content | safe }}