---
title: Recipe Book
description: An online home for my personal recipes.
layout: "layouts/base.njk"
pagination:
  data: collections.recipes
  size: 9
  reverse: true
---
<h1>{{ title }}</h1>
<p>{{ description }}</p>

{% for recipe in pagination.items %}
  <li>
    <h2 class="card__title">
      <a href="{{ recipe.url }}">{{ recipe.data.title }}</a>
    </h2>
    <p class="card__description">{{ recipe.data.description }}</p>
  </li>
{% endfor %}

{% include "partials/pagination.njk" %}