---
title: Recipe Book
description: An online home for my personal recipes.
layout: "layouts/base.njk"
pagination:
  data: collections.recipes
  size: 9
  reverse: true
---
<ul role="list" class="recipe-list flow">
  {% for recipe in pagination.items %}
    <li>
      <a href="{{ recipe.url }}">{{ recipe.data.title }}</a>
      <p>{{ recipe.data.description }}</p>
    </li>
  {% endfor %}
</ul>

{% include "partials/pagination.njk" %}