@use './core/tokens' as *;
@use "./core/custom-properties" as *;
@use "modern-css-reset/dist/reset.css";
@use "./base";
@use "./layout";
@use "./components/post";
@use "./components/site-header";
@use "./components/site-footer";
@use "./components/hero";
@use "./components/stats";
@use "./utilities/space";
@use "./utilities/color";
@use "./utilities/visibility";
@use "./utilities/flow";
@use "./utilities/wrapper";



.eyebrow {
  text-transform: uppercase;
  color: var(--color-accent);
  font-family: $font-sans;
  text-decoration: none;
  letter-spacing: .05rem;
}