<header class="site-header">
  <a class="site-logo" href="/" aria-label="Levi McGranahan's Recipe Book">
    <svg aria-hidden="true" width="48" height="48">
      <use href="#logo"></use>
    </svg>
  </a>
  <nav class="site-nav">
    <ul role="list">
      <li>
        <a href="/">Recipes</a>
      </li>
      <li>
        <a href="/about/">About</a>
      </li>
    </ul>
  </nav>
</header>