<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ title }} - {{ metadata.title }}</title>
<meta property="description" content="{{ metadata.description }}">
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://recipes.levimcg.com/img/recipes-og-image.jpg">
<meta property="og:url" content="https://recipes.levimcg.com{{ page.url }}">
<link rel="canonical" href="https://recipes.levimcg.com{{ page.url }}">
<link rel="preload" href="/fonts/dm-sans-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/dm-sans-latin-700-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
{% set css %}
  {% include "css/styles.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>