<h2>Share this recipe</h2>
<div class="share-controls" data-share-controls>
  <p data-share-message>Copy this URL to share</p>
  <p class="share-url" data-share-url>{{ metadata.baseurl }}{{ page.url }}</p>
</div>